
body{background-color: whitesmoke;}

p{font-weight: 100;}

#div0{background-color: whitesmoke;
height: 2px;
width: 450px;
margin-left: 28px;}

#div1{background-color: whitesmoke;
border-radius: 5px;
width: 80px;
height: 30px;
margin-left: 150px;
display: inline-block;
margin-top: 60px;
text-align: center;}

#div2{background-color: whitesmoke;
border-radius: 5px;
width: 80px;
height: 30px;
display: inline-block;
margin-left: 60px;
text-align: center;}

#div3{border-style: dashed;
	height: 240px;
width: 400px;
border-radius: 7px;
background-color: whitesmoke;
margin-left: 40px;
border-color: grey;
font-weight: 100;
display: inline-block;}

#div4{background-color: white;
height: 800px;
width: 850px;
border-radius: 10px;
display: inline-block;
margin-left: 0PX;
margin: 0px;}

b{color: darkblue;}
h2{color: orange;
margin-top: 25px;
text-align: center;
font-weight: bold;}

div a:hover{background-color: blue;
color: yellow;}

.div{background-color: white;
width: 120px;
height: 89px;}

#div7{background-color: blue;
height: 80px;
color: yellow;
text-align: center;
border-style: 5px; solid;
border-radius: 5px;}

#div8{background-color:green;
display: inline-block;
height: 800px;
width: 180PX;
text-align: center;
margin: 10px;
}