body{
margin:0;
background-color:whitesmoke;
font-family:Arial;
}

/* HEADER */

#header{
background-color:rgb(39,39,158);
color:rgb(208,208,66);
height:80px;
line-height:80px;
text-align:center;
position:fixed;
top:0;
width:100%;
}

/* MENU */

#menu{
background-color:green;
width:200px;
height:100vh;
position:fixed;
top:80px;
color:white;
text-align:center;
padding-top:20px;
}

#menu a{
color:white;
text-decoration:none;
}

#menu a:hover{
background-color:blue;
color:yellow;
padding:5px;
}

/* CONTENT */

#content{
margin-left:220px;
margin-top:120px;
background:white;
width:700px;
padding:20px;
border-radius:10px;
}

/* BUTTONS */

.button{
background-color:whitesmoke;
border-radius:5px;
width:100px;
height:35px;
text-align:center;
line-height:35px;
display:inline-block;
margin:10px;
}

.button a:hover{background-color: blue;
	color: yellow;
text-decoration:none;
#button-container {
  display: flex;
  justify-content: center; /* igashyira horizontally hagati */
  gap: 20px; /* intera hagati ya buttons */
  margin-top: 20px; /* intera uvuye hejuru */
}
}

/* BOX */

.box{
border:dashed grey;
padding:15px;
margin-top:20px;
margin-left: 80px;
border-radius:5px;
height: 400px;
width: 500px;
}