*{background-color: white;
border-radius: 20;
  margin-left:110px;
  margin-top:60px
 }
    
      .t{width: 800px;
            height: 200px;
            
}
body{
    background-color:whitesmoke;}
.topbar{
    text-align: right;
align-items:center;
padding:15px 20px;
background:linear-gradient(90deg,#2e3192,#662d91,#008037);
color:white;
font-size:18px;
}

.title{
font-weight:bold;
font-size:22px;
color:#ffd700;
animation: bounce 1s infinite;
}
@keyframes bounce {
    0%,100%{
        transform: translatey(4px);
    }
    50%{
        transform: translatey(8px);
    }
    
}



.container{
display:flex;
}



.sidebar{
width:250px;
background:#016432;
color:white;
min-height:100vh;
padding:20px;
}

.user{
text-align:center;
margin-bottom:20px;
}

.user i{
font-size:40px;
}

.sidebar h2{
margin:20px 0;
border-bottom:3px solid orange;
display:inline-block;
}

.sidebar ul{
list-style:none;
}

.sidebar ul li{
padding:12px;
margin:8px 0;
cursor:pointer;
border-radius:6px;
}


.sidebar ul li a{
margin-right:10px;
text-decoration: none;
color: white;
}
.active:hover{
    background-color:#014630;
   border-bottom: #f7b500 solid 3px; 
}
.active :active{
background:#2f6df6;
border-bottom: #f7b500 solid 3px;
}


#div {
    background-color:rgb(225, 230, 230);
    display: flex;
    justify-content: space-between;
       width: 800px;
            height: 300px;
            margin: 10px;
            padding: 25px;
            border-style: groove;
            border-color: blueviolet;
            border-radius: 15;
            border-top: 10px;
            box-shadow: 10px 15px;border-radius: 40px;
            overflow: hidden;
}
input{border-radius: 20px;

}
input:hover{ background-color: skyblue;
    border-color: blueviolet;
}
.z{padding: 20;
    color: yellow;
}
h1{font-family: bold;
    color:blue;
}
ul{  background-color:rgb(225, 230, 230);
    display: flex;
    justify-content: space-between;
       width: 800px;
            height: 800px;
            margin: 10px;
            padding: 25px;
            border-style: groove;
            border-color: blueviolet;
            border-radius: 15;
            border-top: 10px;
            box-shadow: 10px 15px;border-radius: 40px;

            overflow: hidden;}

